# ~/.gitconfig: git common config for myself
# difftool usage: git dt branch1..branch2 file

[user]
	name = sansna
	email = 1185280650@qq.com
[color]
	ui = auto
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    dt = diff-tree --name-only -r HEAD --no-commit-id
[diff]
    tool = vimdiff
[push]
    default = simple
