[color]
	ui = auto
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgt = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
	dt = diff-tree --name-only -r HEAD --no-commit-id
[diff]
	tool = vimdiff3
[difftool]
	prompt = false
[difftool.vimdiff3]
	cmd = /tmp/.vd $REMOTE $LOCAL
[push]
	default = simple
